body{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 100%;
    min-height: 900px;
    display: grid;
    grid-template-columns: 248px 1fr;
    grid-column-gap: 5px;
    grid-template-areas:
                    "nav container";
}
#main-doc{
    padding-left:30px;
    grid-area: container;
    
}
#navbar{
    position:fixed;
  min-width:240px;
  top:0px;
  left:0px;
  width:250px;
  height:100%;
  border-right: solid;
  border-color: grey;
    
}

#navbar ul{
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#navbar ul li{
  border-bottom: 1px solid grey;
  text-align: center;
}
.nav-link{
    display: block;
    padding: 10px 16px;
    text-decoration: none;
  }